/* Center the calculator */
body {
    background: #d2ccc5;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* Calculator Container */
.Calculator {
    width: 400px;
    height: 300px;
    margin: 25px;
}
 
/* Button Styling */
.ButtonStyle {
    background-color: #0997f5;
    color: white;
    height: 60px;
    width: 60px;
    font-size: 24px;
    margin: 2px;
}
 
/* Special Buttons Styling */
.special-button {
    background-color: #4caf50;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
 
.special-button:hover {
    background-color: #45a049;
}
 
/* Calculator Display Styling */
.screen-row input {
    width: 230px;
    height: 30px;
    background: rgb(133, 32, 32);
    color: white;
    padding: 10px;
    font-size: 20px;
}
 
/* Image Styling */
.image-container {
    margin-top: 15px;
}
 
.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}